body {
  margin: 0;
  padding: 0;
  color: #1A1F36;
  box-sizing: border-box;
  font-family: SF Pro Text;
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main';
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: whitesmoke;
}

.aside {
  grid-area: aside;
  background-color: #F7FAFC;
}

.main {
  grid-area: main;
  background-color: white;
  padding: 24px;
}

/* flexing header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  padding: 0 15px;
  border: 1px solid #E3E8EE
}


.header_icons {
  display: flex;
  margin: 2px;
}

/* flexing aside */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px);
  border: 1px solid #E3E8EE;
}

.aside.active {
  transform: translateX(0);
}

.aside_title {
  padding: 5px 5px 5px 20px;
  margin-top: 10px;
}

.aside_list {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.aside_list li {
  padding: 5px 5px 5px 20px;
  color: #1A1F36;
  display: flex;
}

.aside_list li:hover {
  background-color: rgb(112, 112, 112);
  cursor: pointer;
}

/* Layout for main content overview and its cards */

.main_title {
  border-bottom: 1px solid #E3E8EE;
}

/* Layout for main-cards section // below main_overview */

.charts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    'chart1'
    'chart2'
    'main_chart';
  padding: 10px;
}

.chart1,
.chart2,
.main_chart {
  padding: 20px;
  border: 1px solid #E3E8EE;
  border-left: #E3E8EE;
}

.main_chart {
  grid-area: main_chart;
}

.chart1 {
  grid-area: chart1;
}

.chart2 {
  grid-area: chart2;
}

.reports {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas:
    'card1'
    'card2'
    'card3'
    'card4'
    'card5'
    'card6';
  padding: 10px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  padding: 20px;
  border: 1px solid #E3E8EE;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}


/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'aside header'
      'aside main';
    height: 100vh;
  }

  .aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateX(0);
  }

  .charts {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
      'main_chart  chart1'
      'main_chart  chart2';
    padding: 10px;
  }

  .reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
      'card1 card2 card3'
      'card4 card5 card6';
    padding: 10px;
  }

  .header_search {
    margin-left: 24px;
  }

  .header_icons {
    display: flex;
    margin: 2px;
  }

  .aside_close-icon {
    position: absolute;
    visibility: visible;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #1A1F36;
  }

  @media only screen and (min-width: 750px) {
    .aside_close-icon {
      display: none;
    }
  }
}