body {
  margin: 0;
  padding: 0;
  color: #1A1F36;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;

}

.grid-container {
  display: grid;
  grid-template-columns: minmax(355px, 1fr);
  grid-template-rows: 17px 1fr 50px;
  grid-template-areas:
    'header'
    'main';
  height: 100vh;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
  background-color: #F7FAFC;
}

.main {
  grid-area: main;
}

/* flexing header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  padding: 0 15px;
  border-bottom: 1px solid #E3E8EE;
  height: 57px;
}

.header_search {
  display: flex;
  align-items: center;
}

.header_search span {
  margin-left: 8px;
}

.header_icons {
  display: flex;
}


.header_icons div {
  display: flex;
  margin: 8px;
  width: 16px;
  height: 16px;
}

.header_icons div :hover {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* flexing aside */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-270px);
  border: 1px solid #E3E8EE;
}

.aside.active {
  transform: translateX(0);
}

.aside_title {
  margin: 16px 10.52px 38px 20px;
  display: flex;
  display: flex;
  align-items: center;
}

.aside_title h2 {
  margin: 0px 10.52px 0px 20px;
  font-weight: 700;
  font-size: 16px;
}

.aside_title span {
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(60, 66, 87, 0.08);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside_list {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.aside_list div {
  padding: 5px 5px 5px 20px;
  color: #1A1F36;
  display: flex;
  height: 17px
}

.aside_list li {
  margin-left: 15px;
}

.aside_list div:hover {
  background-color: rgb(172, 172, 172);
  cursor: pointer;
  color: white;
}

/* Layout for main content overview and its cards */


/* Layout for main-cards section // below main_overview */

.charts_wrapper {
  padding: 0px 40px 0px 40px;
  border-bottom: 1px solid #E3E8EE;
}

.charts_wrapper h1 {
  margin-top: 32px;
}


.main_chart_data {
  display: flex;
}

.main_chart_data div {
  width: 200px;
}

.main_chart_data {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 178px));
  grid-gap: 0px;
}

.main_chart_time {
  /* display: flex; */
}

.main_chart_time>div {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.main_chart_time>div>icon {
  margin-left: 7px;
}

.main_chart_time>span {
  font-size: 20px;
  margin-bottom: 3px;
}

.main_chart_past {
  font-size: 16px;
  color: #697386;
  margin-bottom: 3px;
}

.chart_card {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chart_card_info div {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4F566B;
}

.chart_card_info h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 8px 0px 10px 0px;
}

.chart_card_info span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #4F566B;
}

.card_view {
  color: #5469D4;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.charts {
  display: grid;
  grid-template-columns: minmax(355px, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    'chart1'
    'chart2'
    'main_chart';
  padding: 10px;
}

.chart1,
.chart2 {
  padding: 20px;
  max-width: 378px;
}

.main_chart {
  grid-area: main_chart;
  border-top: 1px solid #E3E8EE;
  border-left: #E3E8EE;
  padding: 20px 20px 20px 0px;
}

.chart1 {
  grid-area: chart1;
  border-top: 1px solid #E3E8EE;
  border-left: 1px solid #E3E8EE;
  border-bottom: 1px solid #E3E8EE;
}

.chart2 {
  grid-area: chart2;
  border-left: 1px solid #E3E8EE;
}


.reports_wrapper {
  padding: 0px 40px 0px 40px;
}

.reports_wrapper h1 {
  margin-top: 32px;
}

.reports {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 0px;
}

.report {
  /* padding: 20px 40px 32px 0px; */
  max-height: 200px;
  padding: 20px;
}

.report_chart_data {
  display: flex;
}

.report_chart_data {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 0px;
}

.report_chart_time {
}
.report_title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report_chart_time_view {
  text-align: right;
}

.report_chart_time>div {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
  width: fit-content;
}

.report_chart_time>div>icon {
  margin-left: 7px;
  cursor: pointer;
}

.report_chart_time>span {
  font-size: 20px;
  margin-bottom: 3px;
}

.report_chart_past {
  font-size: 16px;
  color: #697386;
  margin-bottom: 3px;
}


.report.card1 {
}

.report.card2 {
}

.report.card3 {

}

.report.card4 {

}

.report.card5 {

}

.report.card6 {

}

.percent_span {
  width: 41px;
  height: 18px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 8px;
  font-size: 12px;
}

.percent_span.positive {
  background: #cbf4c9;
}

.percent_span.zero {
  background: #e3e8ee;
}

.percent_span.negative {
  background: #f8e5ba;
}



/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: minmax(270px, 1fr);
    grid-template-rows: 50px 100px 50px;
    grid-template-areas:
      'aside header'
      'aside main';
    height: 100vh;
  }

  .aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateX(0);
  }

  .charts {
    display: grid;
    grid-template-columns: minmax(0, 712px) minmax(0, 378px);
    grid-template-rows: 113px 113px;
    grid-template-areas:
      'main_chart  chart1'
      'main_chart  chart2';
    padding: 0px;
  }

  /* .reports {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    grid-template-rows: 200px;
    grid-gap: 0px;
    padding: 0;
  } */

  .header_search {
    margin-left: 24px;
  }

  .header_icons {
    display: flex;
    margin: 2px;
  }

  .aside_close-icon {
    position: absolute;
    visibility: visible;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #1A1F36;
  }

  @media only screen and (min-width: 750px) {
    .aside_close-icon {
      display: none;
    }
  }
}